#!/bin/sh -e
# JIRA startup script
#chkconfig: 2345 80 05
#description: JIRA

# Define some variables
# Name of app ( JIRA, Confluence, etc )
APP=jira
# Name of the user to run as
USER={{ jira_user }}
# Location of application's bin directory
BASE={{ jira_installation }}
# Location of Java JDK
export JAVA_HOME={{ java_home_output.stdout }}

case "$1" in
  # Start command
  start)
    echo "Starting $APP"
    /bin/su -m $USER -c "cd $BASE/logs && $BASE/bin/startup.sh &> /dev/null"
    ;;
  # Stop command
  stop)
    echo "Stopping $APP"
    /bin/su -m $USER -c "$BASE/bin/shutdown.sh &> /dev/null"
    echo "$APP stopped successfully"
    ;;
   # Restart command
   restart)
        $0 stop
        sleep 5
        $0 start
        ;;
   status)
        jiraPid=$(pgrep -u $USER -f $BASE)
        if [ $? -eq 0 ]; then
          echo "$APP is running, pid=$jiraPid"
        else
          echo "$APP is NOT running"
          exit 1
        fi
        ;;
  *)
    echo "Usage: /etc/init.d/$APP {start|restart|stop|status}"
    exit 1
    ;;
esac

exit 0